* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.banner {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./images/family_playing_bg_image.webp);
    background-size: cover;
    min-height: 600px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner__layout {
    display: flex;
    flex-direction: row;
}
