/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: #222222;
    position: fixed;
    width: 100%;
}

.header__container {
    display: flex;
    padding: 10px 15px;
    min-height: 42px;
    max-width: 1280px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.logo__link {
    color: white;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__menu {
    list-style: none;
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    padding-left: 0;
}

.nav__menu--active {
    display: flex;
    height: 100vh;
    /* to be removed */
    background-color: black;
}

.nav__item {
    /* The ideal padding */

    border-top: 1px solid #ddd;
    background: #f8f8f8 none repeat scroll 0 0;
}

.nav__link {
    font-size: 12px;
    color: #333333;
    text-decoration: none;
    font-size: 1em;
    display: block;
    width: 90%;
    padding: 1em 5%;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
}

.burger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.burger__line {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 4px 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.burger--active .burger__line:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
} 

.burger--active .burger__line:nth-child(2) {
    opacity: 0; 
}

.burger--active .burger__line:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
}

@media only screen and (min-width: 768px) {
    .header {
        position: relative;
    }

    .header__container {
        height: 90px;
    }
    .nav__menu {
        display: flex;
        position: relative;
        flex-direction: row;
        background-color: transparent;
        gap: 32px;
    }

    .nav__item {
        border: none !important;
        background: transparent;
    }

    .nav__link {
        color: #fff;
        font-size: 16px;
        font-weight: 500;
        text-transform: capitalize;
        padding: 0;
        width: 100%;
    }

    .nav__link:hover {
        color: #26c6da;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }


    .burger {
        display: none;
    }
}